* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page1 {
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100vw;
    align-items: center;
}

.header .user button {
    height: 37px;
    width: 107px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.header .quiz h1 {
    width: 200px;
}

#page1 .mid {
    background-color: aqua;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page1 .knowledge {
    height: 100%;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#page1 .knowledge h1 {
    width: 314px;
    font-size: 33px;
}

#page1 span {
    color: red;
}

#page1 .knowledge {
    width: 50%;
}

#page1 .right {
    width: 50%;
}

#page1 .image {
    background-image: url("images/pngtree-creative-brainstorming-bulb-knowledge-material-image_2281575-removebg-preview.png");
    height: 300px;
    width: 300px;
    background-size: cover;
}

#page1 .mid .knowledge button {
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#page1 .username input {
    height: 31px;
    width: 222px;
}

#page1 .btn button {
    width: 100px;
    cursor: pointer;
    height: 30px;
    width: 109px;
    margin: 2px 0;
    font-size: 20px;
}

#page1 .btn button:first-of-type {
    background-color: black;
    color: white;
    border: 1px solid blue;
}

#page1 .btn button:last-of-type {
    background-color: red;
    color: white;
}

#page1 .take {
    display: none;
    position: absolute;
    position: absolute;
    top: 7px;
    left: 73%;
}

#page2 {
    display: none;
}

#page2 .header {
    background-color: peachpuff;
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100vw;
    align-items: center;
}

#page2 .header ul {
    margin: 0 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#page2 .header ul li {
    margin: 20px;
    font-size: 20px;
}

#page2 .header ul li a {
    text-decoration: none;
    color: black;
}

#page2 .mid {
    text-align: center;
    padding-top: 50px;
    text-align: center;
}

#page2 .mid h5 {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#page2 .mid a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 518px;
    margin: 12px auto;
    padding: 23px;
    height: 65px;
    border-radius: 20px;
}

#page2 .mid a:first-of-type {
    background-color: blueviolet;
    color: white;
}

#page2 .mid a:nth-of-type(2) {
    background-color: rosybrown;
    color: white;
}

#page2 .mid a:last-of-type {
    background-color: hotpink;
    color: white;
}

#page2 .mid h1 {
    margin-top: 20px;
}

#page2 .mid button {
    height: 42px;
    width: 152px;
    font-size: 23px;
    background-color: black;
    color: wheat;
    border-radius: 28px;
    cursor: pointer;
    margin-top: 20px;
}

.select {
    border: 5px solid green;
}

#page2 .mid label {
    cursor: pointer;
}

#page3 {
    display: none;
    height: 100vh;
    /* justify-content: center; */
    background-color: yellow;
    flex-direction: column;
    align-items: center;
}

#page3 .header p {
    background-color: white;
    height: 50px;
    width: 50px;
    font-size: 31px;
    text-align: center;
    border-radius: 50%;
    padding: 5px 0
}

#page3 .ques {
    height: 80vh;
    background-color: white;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page3 .result {
    display: none;
    height: 73vh;
    width: 73vw;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#page3 .yourscore p {
    display: none;
    font-size: 51px;
    margin: 40px 0;
    color: green;
}

#page2 .yourdata {
    height: 80vh;
    background-color: lightcoral;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page2 .yourdata .info {
    height: 50px;
    display: flex;
    margin: 20px 0;
}

#page2 .yourdata .info h3 {
    background-color: wheat;
    padding: 15px 100px;
}

#page2 .yourdata .scorecard {
    display: flex;
}

#page2 .yourdata .scorecard h3 {
    padding: 20px 100px;
}

.topic {
    text-transform: uppercase;
}

#page1 .header .logout {
    display: none;
}

#page1 .header .logout button {
    height: 31px;
    width: 78px;
    background-color: red;
    color: white;
    cursor: pointer;
}